body{
    display: flex;
    justify-content: center;
    align-items: center;
    .calc-body{
        border: 1px solid #cecece;
        border-radius: 15px;
        padding: 20px;
        min-height: 500px;
        background: #000;
        .display-screen{
            display: flex;
            input{
                border: 1px solid #cecece;
                border-radius: 5px;
                padding: 5px;
                background: #e7e4e4;
            }
            .clear-btn{
                border: 1px solid #000;
                border-radius: 5px;
                padding: 5px;
                padding-right: 10px;
                padding-left: 10px;
                background: #ff006e;
                color: white;
            }
        } 
    }
}