body{
    display: flex;
    justify-content: center;
    align-items: center;
    main{
        width: 390px;
        border: 1px solid #cecece;
        border-radius: 10px;
        min-height: 500px;
    }
}